/* Navigation*/

body {
    display: block;
    overflow-x: hidden;
    overflow-y: none;
}

nav {
    background-color: none;
}


.navbar-brand {
    font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 67px;
color: #000000;
}

.navbar-light .navbar-brand:hover {
    color: rgba(255, 99, 155, 0.67);
}

nav ul li a {
    font-family: "Roboto";
font-style: normal;
font-weight: lighter;
font-size: 24px;
line-height: 28px;
    color: #000000;
    margin: auto 50px;
}

.navbar-light .navbar-nav .nav-item a:hover{
    color: rgba(255, 99, 155, 0.67);
}

.photo-bg {
    position: absolute;
    margin-left: 43%;
    margin-top: -100px;
}



/* Section */

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    display: flex;
    float: left;
    width: 500px;
    margin-left: 10%;
   padding-top: 220px;
    font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
color: #000000;
}

section .img-fluid {
    position: relative;
    float: right;
    margin-top: -25%;
    padding-right: 100px;
    margin-right: 3%;
    width: 800px;
height: 600px;
}

.btn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 340px;
    margin-left: 15%;
    width: 251px;
height: 64px;
background: #201C3A;
border-radius: 22px;
justify-content: space-evenly;
align-items: center;
font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
color: white;
}

.btn:hover {
    background-color:white;
    color: #201C3A;
    border: 2px solid #201C3A;
}

.bg-img {
    margin-top: -295.5px;
}
